$navbar-height: 5rem;

$primary: #0E86E2;
$primary-hover: #0574c8;
$primary-light: #3599E5;
$primary-dark: #04518D;
$body-family: 'Open Sans';
$body-color: hsl(0, 0%, 29%);

@import "../../node_modules/bulma/bulma.sass";